* {
  margin: 0;
  padding: 0;
}

.linha-card {
  display: flex;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid tomato;
  color: tomato;
  height: 100px;
  width: 100px;
  margin: 4px;
}

.card:hover {
  background-color: tomato;
  color: white;
  cursor: pointer;
}

.conteudo-card {
  font-weight: bolder;
  font-size: 40px;
}