.linha-card {
  display: flex;
}

.card-memoria {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid rgb(2, 117, 216);
  color: rgb(2, 117, 216);
  height: 100px;
  width: 100px;
  margin: 6px;
  transition: 200ms;
}

.card-memoria:hover {
  transition: 200ms;
  transform: scale(1.06);
  cursor: pointer;
}

.conteudo-card {
  font-weight: bolder;
  font-size: 40px;
}