.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.tabuleiro {
  border: 2px solid tomato;
}

.linha {
  display: flex;
}

.bloco {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: tomato;
}

.bloco:hover {
  cursor: pointer;
  background-color: rgba(255, 99, 71, 0.801);
}

.conteudo {
  color: transparent;
  font-weight: bold;
}

.btn-revelar {
  padding: 10px;
  border: 2px solid tomato;
  background-color: transparent;
  color: tomato;
  font-weight: bolder;
  transition: 350ms;
}
.btn-revelar:hover {
  cursor: pointer;
  transition: 350ms;
  color: white;
  background-color: tomato;
}